{
  "endOfLine": "lf",
  "singleQuote": true,
  "jsxSingleQuote": true,
  "useTabs": false,
  "tabWidth": 2,
  "semi": true,
  "trailingComma": "all",
  "printWidth": 100,
  "arrowParens": "avoid",
  "proseWrap": "preserve",
  "bracketSpacing": true,
  "quoteProps": "as-needed",
  "bracketSameLine": false,
  "embeddedLanguageFormatting": "auto",
  "overrides": [
    {
      "files": "*.md",
      "options": {
        "proseWrap": "always",
        "printWidth": 80
      }
    },
    {
      "files": ["*.json", "*.yml", "*.yaml"],
      "options": {
        "tabWidth": 2,
        "printWidth": 120
      }
    },
    {
      "files": ["*.ts", "*.tsx", "*.js", "*.jsx"],
      "options": {
        "printWidth": 100
      }
    }
  ]
}
